*:focus
{
    outline: none;
}
:root {
  --header-outer-height: 80px;
  --header-inner-height: 60px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}
svg {
	z-index: 2;
    position: absolute;
    right: 50px;
	bottom: 5%;
}

audio {
	z-index:1;
}
html, body {
    font-family: 'Arial', serif;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444444;
}

ul {
	list-style: none;
	margin: 0;
}
ul.header_ul{
    font-size: 20px;
    color:white;

}

.search_div , .menu-div{
	/*margin-top: 15px;*/
	font-size: 20px;
}
 .logo_div {
	 margin-top: 15px;
 }

.input-search {
	width: 400px;
    border-radius: 10px 10px 0 0;
    height: 30px;
}

.logo {
    background: url("../img/logo.f108db2c3663.png") no-repeat;
	font-size: 20px;
	width: 160px;
	height: 55px;
}
.header-outer {
	display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
	height: var(--header-outer-height);
	top:calc(
    var(--header-height-difference) * -1);
    width: 100%;
    background: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index:999;
}
.header-inner {
	 display:flex;
	 align-items: center;
	 justify-content: space-around;
	 height: var(--header-inner-height);
     position: sticky;
     width: 100%;
     top: 0;

}


.pl-a:-webkit-any-link{
	color:white;
	position:relative;
	font-weight: bold;
	text-decoration: none;
	z-index:2;
}
.pl_cover {
	border-radius: 5px;
	z-index:2;
	width:140px;
	height:140px;
}

.artist_img {
	border-radius: 50px;
	z-index:2;
	width:200px;
	height:200px;
}
a:link {
    color: white;
    text-decoration: none;
}

.playlist {
	/*margin: 20px 0 20px 0;*/
	z-index:5;
}
.pl-a:hover{
	color:#ffffff;
}
.playlist-listbox{
	border-radius: 0 0 10px 10px;
	margin-right:20px;
	margin-left:20px;
	display: flex;
	background: rgba(255, 255, 255, 0.5);
}
.playlist-list-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
    margin-left: 14px;
    margin-top: 14px;
    position: relative;
}
.playlist-list-item-active{
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
    margin-left: 14px;
    margin-top: 14px;
    position: relative;

}
.playlist-list-item-active img {
	position: relative;
	margin-top: 20px;
	border: 5px solid #fff;
	box-shadow: 0 0 15px 15px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.playlist-body {
	position:relative;
	display:block;
	border-radius: 0 0 10px 10px;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 20px 20px 20px;
	padding-bottom: 100px;
	padding-top: 5px;

}
.artists-body {
	padding: 10px;
	float: left;
}
.artists-container {
	float:left;
	text-align: center;
	border-radius: 0 0 10px 10px;
	background: rgba(255, 255, 255, 0.5);
	margin: 0 20px 20px 20px;
	padding-bottom: 100px;
	padding-top: 5px;

}

.a_menu {
	font-size: 22px;
	color: inherit;
}
a:-webkit-any-link {
    color: white;
}
a:hover {
	color: #afb7c1;
}

.song_cover {
	border-radius: 50px;
	height: 75px;
	width:75px;
}
.song-body {
	display: flex;
	align-items:center;
	margin: 10px;
}
.song-data {
	margin-left:70px;
	color:#000000;
}
.song-body-item {
	font-size: 14px;
}
.song-body-title {
	width: 200px;
	margin: 0 10px 0 10px;
}
.kolbas {
	color: #fd6d94;
}
.song-button, .song-button-my {
	cursor: pointer;
}
.song-download a, .song-like a {
	color:black;
	margin-left: 30px;
}

/*#load {*/
/* display: none;*/
/* text-align: center;*/
/* position: relative;*/
/* right: 10px;*/
/* top: 10px;*/
/* background: url("../img/ajax-loader.0286b6ab6896.gif");*/
/* width: 43px;*/
/* height: 11px;*/
/* text-indent: -9999em;*/
/*}*/
div.image-container {
	display: none;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 999999;
    text-align: center;
}

.image-holder {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
}

.image-holder img
{
    width: 100%;
    margin-left: -50%;
    margin-top: -50%;
}
.playlist-container h1{
	color: #ffffff;
	-webkit-text-stroke: 1px gray;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    border-radius: 10px 10px 0 0;
    margin: 20px 20px 0 20px;
    border-bottom: 4px solid lightgrey;
    padding: 5px
}
.search-answer {
	position: absolute;
	width: 400px;
    background-color: lightgray;
    color: black;
    font-size: 14px;
    border-radius: 0 0 10px 10px;
}
.login-button {
	font-size: 22px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.a-register {
    color: white;
    font-size: 24px;
    font-weight: bold;
 	-webkit-text-stroke: 1px gray;
}

.form-input {
	border-radius: 10px;
    font-size: 22px;
	width: 250px;

}
.form-label {
	font-size: 22px;
	font-weight: bold;
	margin: 10px;

}
.form-container, .account-info {
	background-color: white;
	border-radius: 20px;
	display: inline-block;
	margin-bottom:20px;
    padding: 10px;
}
