{% extends 'main/base.html'%}
{% block content %}
<div class="main">
<h1>{{ title }}</h1>
    <div class="question-body">
    <p style="font-weight: bold">Данный сайт создан в качестве проекта курсовой работы.</p>
    <br>
    <p>Над проектом работали:</p>
    <p>Черненко Тимофей Сергеевич</p>
    <p>Баженова Надежда Андреевна</p>
    </div>
<div class="question-body">
    <p style="font-weight: bold">Вопрос №1. Какие технические средства использовались в работе?</p>
    <br>
    <p>Фреймверк Django</p>
    <p>Аjax для фоновой загрузки страниц</p>
    <p>Селекторы Jquery для обращения к элементам страницы</p>
    <p>Свои css стили, а так же отдельные стили для работы с мобильными устройствами</p>
    <p>Библиотека pillow для работы с изображениями</p>
    <p>Javascript для работы плеера</p>
    </div>
<div class="question-body last">
    <p style="font-weight: bold">Вопрос №2. Какую роль на сайте выполняет авторизация?</p>
    <br>
    <p>Благодаря авторизации Вы можете создавать свой плейлист из понравившейся музыки, а так же сохранять треки на своё устройство</p>
    </div>
</div>
{% endblock %}