{% extends 'main/base.html'%}
{% block content %}
<div class="main">
        <h1>{{ title }}</h1>
        <h2>Впервые у нас? | <a class="a-register" href="{% url 'register' %}" style="color: black">Регистрация</a></h2>

    <div class="form-container">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="form-label" id="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="login-button">Войти</button>
    </form>
</div>
</div>
{% endblock %}