{% extends 'main/base.html'%}
{% block content %}
{% load main_tags %}
<div class="main">
    {% if request.user.is_authenticated %}
    <div class="my-info">
    <h1>{{ title }} {{ request.user.username }}  </h1>
        <button type="button" class="btn btn-secondary a-logout" onclick="window.location.href = '{% url 'logout' %}';">
                <ya-tr-span data-index="23-1" data-translated="true"
                            data-source-lang="en" data-target-lang="ru"
                            data-value="logout" data-translation="Выйти"
                            data-ch="1" data-type="trSpan"
                            data-selected="false">Выйти</ya-tr-span>
            </button>
        {% else %}
                    <h1>{{ title }}</h1>

    {% endif %}
        </div>
    <div class="account-main">
    <div class="account-info">
        <h1 style=" display: flex; justify-content: center;">Моя музыка</h1>
        {% if user.account.my_music %}
        {% for m in user.account.my_music.all %}
            <div class="song-body">
     <div class="song_body-img"><img class="song_cover" src="{{ m.icon.url }}" alt =""></div>
        <div class="song-body-title">
            <div class="song-body-item" style="font-weight: bold">{{ m.name }}</div>
            <div class="song-body-item">{% get_artist_by_song_name song_id=m.pk %}</div>
        </div>
      <div class="song-button-my" id={{ m.pk }}>
         <i class="fas fa-play"></i>
     </div>
    <div class="song-download">
         <a href="{% url 'download' song_id=m.pk %}" download>
          <i class="fas fa-download"></i>
         </a>
    </div>
    <div class="song-like">
         <a class="song-add-link" style="color:red" href="{% url 'add_to_my' song_id=m.pk %}">
          <i class="fas fa-heart"></i>
         </a>
    </div>
     </div>
        {% endfor %}
     {% else %}
            <p>Список музыки пуст</p>
    {% endif %}
    </div>
    <div class="account-artist-info">
        <h1 style="    display: flex; justify-content: center;">Мои исполнители</h1>
        {% if user.account.my_artists %}
        {% for a in user.account.my_artists.all %}
        <div class="artists-body">
        <a class="a-artist" href="{{ a.get_absolute_url }}" style="color: black">
            <img class="artist_img" src="{{ a.img.url }}" alt="" >
        <p style="color:white;">{{ a.name }}</p>
         </a>
        </div>
        {% endfor %}
         {% else %}
               <p>Список исполнителей пуст</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}