{% extends 'main/base.html'%}
{% load main_tags %}
{% block content %}

<div class="main">
<div id="bg-artwork"></div>
<div class="main-content">
    <div class="playlist-container container px-4 py-5">
     <h2 class="pb-2 border-bottom">
         <ya-tr-span data-index="5-0" data-translated="true"
                     data-source-lang="en" data-target-lang="ru"
                     data-value="Hanging icons" data-translation="Рекомендации"
                     data-ch="0" data-type="trSpan" data-selected="false">
             Рекомендации</ya-tr-span>
     </h2>
    <div class="playlist-listbox row py-5 row-cols-1 row-cols-lg-6" id="playlist_list">
    {% show_playlists curr_id=1 %}
    </div>
</div>
<div class="playlist-songs">
<div class="playlist-body list-group list-group-checkable d-grid gap-2 border-0 w-auto">
 {% for s in songs %}
     <div class="song-body list-group-item rounded-3 py-3" style="background-color: rgba(255, 255, 255, 0.3);">
     <div class="song_body-img"><img class="song_cover" src="{{ s.icon.url }}"  alt =""></div>
        <div class="song-body-title">
            <a class="song-link " href="{{ s.get_absolute_url }}"><div class="song-body-item" style="font-weight: bold; color: #444444">{{ s.name }}</div></a>
            <a class="a-artist" href="{% get_artist_link song_id=s.pk %}"><div class="song-body-item">{% get_artist_by_song_name song_id=s.pk %}</div></a>
        </div>
     <div class="song-button" id={{ s.pk }}>
         <i class="fas fa-play"></i>
     </div>
        {% if request.user.is_authenticated %}
    <div class="song-download">
         <a href="{% url 'download' song_id=s.pk %}" download>
          <i class="fas fa-download"></i>
         </a>
    </div>
    <div class="song-like">
        {% if s in request.user.account.my_music.all %}
        <a class="song-add-link" style="color:red" href="{% url 'add_to_my' song_id=s.pk %}"></a>
            {% else %}
            <a class="song-add-link" href="{% url 'add_to_my' song_id=s.pk %}">
         {% endif %}
          <i class="fas fa-heart"></i>
         </a>
    </div>
     {% endif %}
     </div>
{% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}