{% load main_tags %}
<div class="search-answer">
    {% for a in answer %}
           <div class="song-body">
     <div class="song_body-img">
         <img class="song_cover" style="width:25px;height:25px" src="{{ a.icon.url }}"  alt ="">
     </div>
        <div class="song-body-title">
            <a class="song-link" href="{{ a.get_absolute_url }}"><div class="song-body-item" style="font-weight: bold; font-size:12px">{{ a.name }}</div></a>
            <a class="a-artist" href="{% get_artist_link song_id=a.pk %}"><div class="song-body-item" style="font-size:12px">
                {% get_artist_by_song_name song_id=a.pk %}
            </div></a>
        </div>
     </div>
    {% endfor %}
</div>